@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&family=Cinzel:wght@800&family=Didact+Gothic&family=Georama:wght@300&family=WindSong&display=swap');

* {
  box-sizing: border-box;
  justify-content: space-around;
  font-family: 'Georama', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
}

#resume-canvas {
  direction: ltr;
  width: 100%;
  height: 100vh;
}

#resume-download {
  width: 100%;
  margin-top: 10px;
  height: 5vh;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  #resume-canvas {
    height: 70vh;
  }

  #resume-download {
    margin-top: 10px;
  }

}